{{ define "home.userinfo" }}

<div class="w-100 my-5">
  <img src="https://uifaces.co/our-content/donated/gPZwCbdS.jpg" id="avatar" class="rounded-circle"></img>
</div>
<h4>Konovalov Igor</h4>
<p>Web-developer</p>
<p style="font-size: 12px;line-height: 0px;margin-bottom: 0.5rem !important;">
  <a href="tel:+7(999)999-99-99">
    <i class="fas fa-phone-alt mx-2"></i>
    +7(999)999-99-99
  </a>
</p>
<p style="font-size: 12px;line-height: 0px;margin-bottom: 0.5rem !important;">
  <a href="mailto:konovalov@admin.com">
    <i class="far fa-envelope mx-2"></i>
    konovalov@admin.com
  </a>
</p>
<p style="font-size: 12px;line-height: 0px;margin-bottom: 0.5rem !important;">
  <i class="fas fa-map-marker-alt mx-2"></i>
  St. Petersburg
</p>

{{ end }}