{{ define "home.projects" }}

{{ block "header" .}}{{ end }}
{{ block "navbar" .}}{{ end }}

<div class="mt-5 container main card">
  <div class="row">
    <div class="col-3">
      {{ block "home.userinfo" .}}{{ end }}
    </div>
    <div class="col-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Задачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/projects">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">События</a>
        </li>
      </ul>
      <h3 class="my-4 text-center">Projects</h3>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                <h4>
                  <a href="/project/1">CRM Bitrix24</a>
                </h4>
                <p>Тестовый проект CRM. Для развития бизнеса и т.д.</p>
              </div>
              <div class="col-2 text-center">
                <div>100/31</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                <h4>
                  <a href="/project/2">Redmine</a>
                </h4>
                <p>Система управления проектами. Используется для формирования здач в спринт, мониторинг работы и т.д.</p>
              </div>
              <div class="col-2 text-center">
                <div>67/46</div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-10">
                <h4>
                  <a href="/project/3">Зарплатный проект</a>
                </h4>
                <p>Web-интерфейс для идентификации физических лиц при выдаче банковских карт</p>
              </div>
              <div class="col-2 text-center">
                <div>11/8</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{template "footer" .}}
{{ end }}