{{ define "home.timeline" }}

{{ block "header" .}}{{ end }}
{{ block "navbar" .}}{{ end }}

<div class="mt-5 container main card">
  <div class="row">
    <div class="col-3">
      {{ block "home.userinfo" .}}{{ end }}
    </div>
    <div class="col-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Задачи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/projects">Проекты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">События</a>
        </li>
      </ul>
      
      <h3 class="my-4 text-center">History</h3>
        <div class="card">

          <div class="container py-2 mt-4 mb-4">
            <!-- timeline item 1 -->
            <div class="row">
              <!-- timeline item 1 left dot -->
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <!-- timeline item 1 event content -->
              <div class="col py-2">
                <div class="card">
                  <div class="card-body">
                    <div class="float-right text-muted small">Mon, Jan 9th 2019 7:00 AM</div>
                    <h6 class="card-title">Day 1 Orientation</h6>
                    <p class="card-text small">Welcome to the campus, introduction and get started with the tour.</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
            <!-- timeline item 2 -->
            <div class="row">
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card">
                  <div class="card-body">
                    <div class="float-right text-muted small">Tue, Jan 10th 2019 8:30 AM</div>
                    <h6 class="card-title">Day 2 Sessions</h6>
                    <p class="card-text small">Sign-up for the lessons and speakers that coincide with your course syllabus.
                      Meet and greet with instructors.</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
            <!-- timeline item 3 -->
            <div class="row">
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card">
                  <div class="card-body">
                    <div class="float-right text-muted small">Wed, Jan 11th 2019 8:30 AM</div>
                    <h6 class="card-title">Day 3 Sessions</h6>
                    <p class="card-text small">Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony
                      ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR
                      try-hard kale chips. Brooklyn vinyl lumbersexual
                      bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon
                      hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial
                      tote bag distillery Portland before
                      they sold out gastropub taxidermy Vice.</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
            <!-- timeline item 4 -->
            <div class="row">
              <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
                </div>
              </div>
              <div class="col py-2">
                <div class="card">
                  <div class="card-body">
                    <div class="float-right text-muted small">Thu, Jan 12th 2019 11:30 AM</div>
                    <h6 class="card-title">Day 4 Wrap-up</h6>
                    <p class="card-text small">Join us for lunch in Bootsy's cafe across from the Campus Center.</p>
                  </div>
                </div>
              </div>
            </div>
            <!--/row-->
          </div>
      
    </div>
  </div>
</div>

{{template "footer" .}}
{{ end }}