{{ define "leftmenu"}}

<div class="list-group">
  <a href="/admin/users" class="list-group-item active">
    <i class="fas fa-users mx-2"></i>Пользователи
  </a>
  <a href="/admin/#" class="list-group-item">
    <i class="fas fa-user-shield mx-2"></i>Группы
  </a>
  <a href="/admin/#" class="list-group-item">
    <i class="fas fa-cubes mx-2"></i>Проекты
  </a>
  <a href="/admin/settings" class="list-group-item">
    <i class="fas fa-cogs mx-2"></i>Настройки
  </a>
  <a href="/admin/#" class="list-group-item">
    <i class="fas fa-info-circle mx-2"></i>Информация
  </a>
</div>

{{ end }}