gateway = http://localhost:8080
prod = false
admin = "admin@pskb.com"

[database]
driver   = sqlite3
host     = localhost
port     = 5432
user     = postgres
password = postgres
path     = data/salary.db

[mail]
host = cas.pskb.com
port = 25

[methods]
sms     = LBB_EXPORT_DATA.GW_SEND_SMS
approve = LBB_EXPORT_DATA.PRI_GW_APPR_CARD

