{{ define "paggination" }}

<div class="card-footer py-4">
  {{ if pagginated .data }}
  <nav>
    <ul id="pagination" class="pagination">
      <!-- <li class="page-item">
        <span class="page-link" data-page="-1">&laquo;</span>
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li> -->
      {{ range $index, $value := listPage .data }}
      <li class="page-item">
        <span class="page-link" data-page="{{ inc $index }}">{{ inc $index }}</span>
        <!--<a class="page-link" href="?page={{ inc $index }}">{{ inc $index }}</a>-->
      </li>
      {{ end }}
      <!-- <li class="page-item">
        <span class="page-link" data-page="+1">&raquo;</span>
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li> -->
    </ul>
  </nav>
  {{ end }}
</div>
{{ end }}